{% extends "base.html" %}
{% load static %}
{% block content %}
      

<!-- top-opt -->
<div class="top-opt">
    <div class="nav-button-wrap c_sb gradient-bg2">
        <div class="nav-button"><span></span><span></span><span></span></div>
    </div>
    <div class="page-subtitle"><a href="{% url "homepage-2" %}" class="ajax"><i class="fal fa-home"></i></a><span></span></div>
    <a href="{% url "homepage-2" %}" class="ajax mob-logo"><span></span><strong></strong></a>
    <a href="{% url "contact-us" %}" class="ajax to_contacts"><i class="far fa-envelope"></i> Get in Touch</a>
    <div class="share-btn show-share isShare gradient-bg2">
        <span>Share</span>
        <i class="fas fa-share-alt"></i>
    </div>
</div>
<!-- top-opt end -->

<!-- content-holder -->
<div class="content-holder">
    <!-- wrapper -->
    <div id="wrapper">
        <!-- scroll-bar -->
        <div class="scr-bar_dec"></div>
        <div class="scr-bar_container">
            <div class="content" data-pagetitle="My Portfolio" data-pagesubtitle="Portfolio">
                <div class="bg-top"></div>
                <div class="bg-bottom"></div>
                <!-- section -->
                <section>
                    <div class="section-title fl-wrap">
                        <h3>Portfolio</h3>
                        <div class="gallery-filters-wrap">
                            <div class="gallery-filters init_hidden_filter">
                                <a href="#" class="gallery-filter gallery-filter-active" data-filter="*">All</a>
                                <a href="#" class="gallery-filter" data-filter=".web">Website</a>
                                <a href="#" class="gallery-filter" data-filter=".photography">ML</a>
                                <a href="#" class="gallery-filter" data-filter=".branding">Ethical hacking</a>
                                <a href="#" class="gallery-filter" data-filter=".uides">Technology</a>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio start -->
<div class="gallery-items min-pad hover-dir fl-wrap">
    <!-- gallery-item-->
    <div class="gallery-item web branding">
        <div class="grid-item-holder hov_zoom">
            <img src="{% static 'images/folio/1.jpg' %}" alt="">
            <div class="grid-det">
                <a href="{% static 'images/folio/1.jpg' %}" class="grid-media-zoom image-popup"><i class="far fa-search"></i></a>
                <div class="grid-det_category"><a href="https://elecload.com">Website</a> <a href="#"></a></div>
                <div class="grid-det-item">
                    <a href="{% url 'portfolio-single' %}" class="ajax grid-det_link">E-Commerce Website<i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- gallery-item end-->
    <!-- gallery-item-->
    <div class="gallery-item photography uides">
        <div class="grid-item-holder hov_zoom">
            <img src="{% static 'images/folio/2.jpg' %}" alt="">
            <div class="grid-det">
                <a href="{% static 'images/folio/2.jpg' %}" class="grid-media-zoom image-popup"><i class="far fa-search"></i></a>
                <div class="grid-det_category"><a href="https://indiatechworld.com">Website</a> <a href="#"></a></div>
                <div class="grid-det-item">
                    <a href="{% url 'portfolio-single' %}" class="ajax grid-det_link">Computer sales Service website<i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- gallery-item end-->
    <!-- gallery-item-->
    <div class="gallery-item web">
        <div class="grid-item-holder hov_zoom">
            <img src="{% static 'images/folio/3.jpg' %}" alt="">
            <div class="grid-det">
                <a href="https://vimeo.com/1013493755" class="grid-media-zoom image-popup"><i class="far fa-play"></i></a>
                <div class="grid-det_category"><a href="#">Design</a> <a href="#">Photography</a></div>
                <div class="grid-det-item">
                    <a href="{% url 'portfolio-single' %}" class="ajax grid-det_link">Video Project<i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- gallery-item end-->
    <!-- gallery-item-->
    <div class="gallery-item branding photography">
        <div class="grid-item-holder hov_zoom">
            <img src="{% static 'images/folio/4.jpg' %}" alt="">
            <div class="grid-det">
                <a href="{% static 'images/folio/4.jpg' %}" class="grid-media-zoom image-popup"><i class="far fa-search"></i></a>
                <div class="grid-det_category"><a href="#">Design</a> <a href="#">Branding</a></div>
                <div class="grid-det-item">
                    <a href="{% url 'portfolio-single' %}" class="ajax grid-det_link">Photography Project<i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- gallery-item end-->
    <!-- gallery-item-->
    <div class="gallery-item uides web">
        <div class="grid-item-holder hov_zoom">
            <img src="{% static 'images/folio/5.jpg' %}" alt="">
            <div class="grid-det">
                <a href="{% static 'images/folio/5.jpg' %}" class="grid-media-zoom image-popup"><i class="far fa-search"></i></a>
                <div class="grid-det_category"><a href="#">Design</a> <a href="#">Branding</a></div>
                <div class="grid-det-item">
                    <a href="" class="ajax grid-det_link">Kent Brant Concept<i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- gallery-item end-->
    <!-- gallery-item-->
    <div class="gallery-item branding">
        <div class="grid-item-holder hov_zoom">
            <img src="{% static 'images/folio/6.jpg' %}" alt="">
            <div class="grid-det">
                <a href="{% static 'images/folio/6.jpg' %}" class="grid-media-zoom image-popup"><i class="far fa-search"></i></a>
                <div class="grid-det_category"><a href="#">Design</a> <a href="#">Branding</a></div>
                <div class="grid-det-item">
                    <a href="{% url 'portfolio-single' %}" class="ajax grid-det_link">Corporate Website<i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- gallery-item end-->
    <!-- gallery-item-->
    <div class="gallery-item uides">
        <div class="grid-item-holder hov_zoom">
            <img src="{% static 'images/folio/7.jpg' %}" alt="">
            <div class="grid-det">
                <a href="{% static 'images/folio/7.jpg' %}" class="grid-media-zoom image-popup"><i class="far fa-search"></i></a>
                <div class="grid-det_category"><a href="#">Design</a> <a href="#">Branding</a></div>
                <div class="grid-det-item">
                    <a href="{% url 'portfolio-single' %}" class="ajax grid-det_link">Travel Agency<i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- gallery-item end-->
    <!-- gallery-item-->
    <div class="gallery-item web photography">
        <div class="grid-item-holder hov_zoom">
            <img src="{% static 'images/folio/8.jpg' %}" alt="">
            <div class="grid-det">
                <a href="{% static 'images/folio/8.jpg' %}" class="grid-media-zoom image-popup"><i class="far fa-search"></i></a>
                <div class="grid-det_category"><a href="#">Design</a> <a href="#">Branding</a></div>
                <div class="grid-det-item">
                    <a href="{% url 'portfolio-single' %}" class="ajax grid-det_link">Sport Agency<i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- gallery-item end-->
</div>
<!-- portfolio end -->

                   
                </section>
                <!-- section end -->
                <div class="to-top-wrap">
                    <div class="to-top color-bg"><i class="fas fa-caret-up"></i></div>
                </div>
            </div>
        </div>
        <!-- scroll-bar end -->
        <div class="share-wrapper">
            <div class="share-container isShare"></div>
        </div>
        <!-- share end -->
    </div>
    <!-- wrapper end -->
    <!-- page-load -->
    <div class="page-load">
        <div class="pl-spinner"><span></span></div>
    </div>
    <!-- page-load end -->
</div>
<!-- content-holder end -->

{% endblock %}
