{% extends "base.html" %}
    {% block content %}
        {% load static %}

                <!-- top-opt -->
                <div class="top-opt">
                    <div class="nav-button-wrap c_sb gradient-bg2">
                        <div class="nav-button"><span></span><span></span><span></span></div>
                    </div>
                    <div class="page-subtitle"><a href="{% url "homepage-2" %}" class="ajax"><i class="fal fa-home"></i></a><span></span></div>
                    <a href="{% url "homepage-2" %}" class="ajax mob-logo"><span></span><strong></strong></a>
                    <a href="{% url "contact-us" %}" class="ajax to_contacts"><i class="far fa-envelope"></i> Get in Touch</a>
                    <div class="share-btn show-share isShare gradient-bg2">
                        <span>Share</span>
                        <i class="fas fa-share-alt"></i>
                    </div>
                </div>
                <!-- top-opt end -->
                <!-- content-holder -->
                <div class="content-holder">
                    <!--wrapper -->
                    <div id="wrapper">
                        <!--scroll-bar -->
                        <div class="scr-bar_dec"></div>
                        <div class="scr-bar_container">
                            <div class="content" data-pagetitle="My story" data-pagesubtitle="Resume">
                                <div class="bg-top"></div>
                                <div class="bg-bottom"></div>
                                <!--section  --> 
                                <section  >
                                    <div class="section-title fl-wrap">
                                        <h3>Professional Summary</h3>
                                    </div>
                                    <div class="box-text-wrap fl-wrap">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="fl-wrap content-box single_pb cb_dec">
                                                    <p>I am a Full Stack Developer at Preciholesports Pvt. Ltd., specializing in crafting dynamic web applications using Python, JavaScript, CSS, and HTML. My expertise in MariaDB allows me to manage and optimize databases effectively, ensuring robust and reliable technology solutions.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="box-text-wrap_item content-box">
                                                    <h5>Language Knowledge</h5>
                                                    <ul>
                                                        <li><span>English</span></li>
                                                        <li><span>Hindi</span></li>
                                                        <li><span>Marathi(Little)</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!--section end-->                							
                                <!--section  --> 
                                <section  >
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="section-title fl-wrap">
                                                <h3>Work History</h3>
                                            </div>
                                            <div class="resume-item-container fl-wrap">
                                                <!--resume-item--> 
                                                <div class="resume-item fl-wrap">
                                                    <h4>Preciholesports Pvt Ltd</h4>
                                                    <h5>Software Developer</h5>
                                                    <p> I am a full-time Full Stack Developer at Preciholesports Pvt. Ltd., where I primarily work on developing and customizing ERPNext software.</p>
                                                    <span class="resume-date">2023 and to the present</span>
                                                </div>
                                                <!--resume-item end--> 
                                                <!--resume-item--> 
                                                <div class="resume-item fl-wrap">
                                                    <h4>Aforeserve Pvt Ltd</h4>
                                                    <h5>Desktop Engineer</h5>
                                                    <p> I worked as a Desktop Engineer, providing solutions for both application and system software, ensuring optimal performance and user satisfaction.</p>
                                                    <span class="resume-date">2023 - 2023</span>
                                                </div>
                                                <!--resume-item end--> 
                                                <!--resume-item--> 
                                                <div class="resume-item fl-wrap">
                                                    <h4>Software Testing</h4>
                                                    <h5>InternShip </h5>
                                                    <p>During my internship, I tested the software's user interface (UI) and functionality to ensure optimal performance and user experience.</p>
                                                    <span class="resume-date">2015 - 2016</span>
                                                </div>
                                                <!--resume-item end--> 												
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="section-title fl-wrap">
                                                <h3>Education</h3>
                                            </div>
                                            <div class="resume-item-container ric_nom fl-wrap">
                                                <!--resume-item--> 
                                                <div class="resume-item fl-wrap">
                                                    <h4>Master in Computer Application</h4>
                                                    <h5>Vivekanad Education Society Institute of Technology</h5>
                                                    <p>I completed a Master's Degree in Computer Applications, gaining advanced skills in programming and software development.</p>
                                                    <span class="resume-date">2020 - 2022</span>
                                                </div>
                                                <!--resume-item end--> 
                                                <!--resume-item--> 
                                                <div class="resume-item fl-wrap">
                                                    <h4>Bachelor of Computer Science</h4>
                                                    <h5>JK College of Science and Commerce</h5>
                                                    <p>I completed my Bachelor’s degree in Computer Science, gaining a strong foundation in programming, algorithms, and software development principles.</p>
                                                    <span class="resume-date">2017 - 2020</span>
                                                </div>
                                                <!--resume-item end--> 											
                                                <!--resume-item--> 
                                                <div class="resume-item fl-wrap">
                                                    <h4>HSC Science</h4>
                                                    <h5>Saket College of Science Commerce and Arts </h5>
                                                    <p>I completed my Higher Secondary Certificate (HSC) in the Science stream, providing a strong foundation for my future studies.</p>
                                                    <span class="resume-date">2016 - 2017</span>
                                                </div>
                                                <!--resume-item end--> 
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!--section end--> 
                                
                                






                                
                                <!--section  --> 
                                <section>
                                    <div class="fl-wrap">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="section-title fl-wrap">
                                                    <h3>Technical Skills</h3>
                                                </div>
                                                <div class="skillbar-box animaper">
                                                      <!-- skill  -->
                                                    <div class="custom-skillbar-title"><span>Web Hosting</span></div>
                                                    <div class="skill-bar-percent">95%</div>
                                                    <div class="skillbar-bg" data-percent="95%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <!-- skill  -->
                                                    <div class="custom-skillbar-title"><span>Hardware TroubleShooting</span></div>
                                                    <div class="skill-bar-percent">80%</div>
                                                    <div class="skillbar-bg" data-percent="65%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <!-- skill  -->
                                                    <div class="custom-skillbar-title"><span>Networking</span></div>
                                                    <div class="skill-bar-percent">75%</div>
                                                    <div class="skillbar-bg" data-percent="75%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <!-- skill  -->
                                                    <div class="custom-skillbar-title"><span>Security</span></div>
                                                    <div class="skill-bar-percent">65%</div>
                                                    <div class="skillbar-bg" data-percent="65%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                     <!-- skill  -->
                                                     <div class="custom-skillbar-title"><span>IOT</span></div>
                                                     <div class="skill-bar-percent">65%</div>
                                                     <div class="skillbar-bg" data-percent="65%">
                                                         <div class="custom-skillbar"></div>
                                                     </div>
                                                      <!-- skill  -->
                                                    <div class="custom-skillbar-title"><span>Virtualization</span></div>
                                                    <div class="skill-bar-percent">65%</div>
                                                    <div class="skillbar-bg" data-percent="65%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                     <!-- skill  -->
                                                     <div class="custom-skillbar-title"><span>Ubuntu</span></div>
                                                     <div class="skill-bar-percent">65%</div>
                                                     <div class="skillbar-bg" data-percent="65%">
                                                         <div class="custom-skillbar"></div>
                                                     </div>
                                                      <!-- skill  -->
                                                    <div class="custom-skillbar-title"><span>Linux</span></div>
                                                    <div class="skill-bar-percent">65%</div>
                                                    <div class="skillbar-bg" data-percent="65%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                     <!-- skill  -->
                                                     <div class="custom-skillbar-title"><span>Excel</span></div>
                                                     <div class="skill-bar-percent">65%</div>
                                                     <div class="skillbar-bg" data-percent="65%">
                                                         <div class="custom-skillbar"></div>
                                                     </div>
                                                    <!-- skill  -->
                                                    <div class="custom-skillbar-title"><span>File management</span></div>
                                                    <div class="skill-bar-percent">75%</div>
                                                    <div class="skillbar-bg" data-percent="75%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="section-title fl-wrap">
                                                    <h3>Developer Skills</h3>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="piechart-holder fl-wrap animaper" data-skcolor="#F89020">
                                                    <!-- 1  -->
                                                    <div class="piechart" >
                                                        <span class="chart" data-percent="85">
                                                        <span class="percent"></span>
                                                        </span>
                                                        <div class="clearfix"></div>
                                                        <div class="skills-description">
                                                            <h4>Python</h4>
                                                        </div>
                                                    </div>
                                                    <!-- 1 end -->
                                                    <!-- 2  -->
                                                    <div class="piechart">
                                                        <span class="chart" data-percent="95">
                                                        <span class="percent"></span>
                                                        </span>
                                                        <div class="clearfix"></div>
                                                        <div class="skills-description">
                                                            <h4>JavaScript</h4>
                                                        </div>
                                                    </div>
                                                    <!-- 2 end  -->
                                                    <!-- 3  -->
                                                    <div class="piechart">
                                                        <span class="chart" data-percent="80">
                                                        <span class="percent"></span>
                                                        </span>
                                                        <div class="clearfix"></div>
                                                        <div class="skills-description">
                                                            <h4>Django</h4>
                                                        </div>
                                                    </div>
                                                    <!-- 3  end-->
                                                    <!-- 4  -->
                                                    <div class="piechart">
                                                        <span class="chart" data-percent="70">
                                                        <span class="percent"></span>
                                                        </span>
                                                        <div class="clearfix"></div>
                                                        <div class="skills-description">
                                                            <h4>MariaDB / MYSQL</h4>
                                                        </div>
                                                    </div>
                                                    <!-- 4  end-->											
                                                    <div class="chart-dec"><span><i class="fal fa-plus"></i></span></div>
                                                </div>
                                                <div class="piechart-holder fl-wrap animaper" data-skcolor="#F89020">
                                                    <!-- 1  -->
                                                    <div class="piechart" >
                                                        <span class="chart" data-percent="85">
                                                        <span class="percent"></span>
                                                        </span>
                                                        <div class="clearfix"></div>
                                                        <div class="skills-description">
                                                            <h4>Frappe Framework</h4>
                                                        </div>
                                                    </div>
                                                    <!-- 1 end -->
                                                    <!-- 2  -->
                                                    <div class="piechart">
                                                        <span class="chart" data-percent="95">
                                                        <span class="percent"></span>
                                                        </span>
                                                        <div class="clearfix"></div>
                                                        <div class="skills-description">
                                                            <h4>Jinja</h4>
                                                        </div>
                                                    </div>
                                                    <!-- 2 end  -->
                                                    <!-- 3  -->
                                                    <div class="piechart">
                                                        <span class="chart" data-percent="50">
                                                        <span class="percent"></span>
                                                        </span>
                                                        <div class="clearfix"></div>
                                                        <div class="skills-description">
                                                            <h4>Java</h4>
                                                        </div>
                                                    </div>
                                                    <!-- 3  end-->
                                                    <!-- 4  -->
                                                    <div class="piechart">
                                                        <span class="chart" data-percent="70">
                                                        <span class="percent"></span>
                                                        </span>
                                                        <div class="clearfix"></div>
                                                        <div class="skills-description">
                                                            <h4>HTML</h4>
                                                        </div>
                                                    </div>
                                                    <!-- 4  end-->											
                                                    <div class="chart-dec"><span><i class="fal fa-plus"></i></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!--section end--> 								
                                <div class="to-top-wrap">
                                    <div class="to-top color-bg"><i class="fas fa-caret-up"></i></div>
                                </div>
                            </div>
                        </div>
                        <!--scroll-bar end -->
                        <!--share end -->
                        <div class="share-wrapper">
                            <div class="share-container isShare"></div>
                        </div>
                        <!--share end -->							
                    </div>
                    <!--wrapper end -->
                    <!--page-load -->	
                    <div class="page-load">
                        <div class="pl-spinner"><span></span></div>
                    </div>
                    <!--page-load end -->						 
                </div>
                <!-- content-holder end -->
{% endblock %}